html {
	overflow-y: scroll;
}

body {
	padding: 0 !important;
}

.search-input {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(255, 255, 255, 0.85);
}

.search-input .react-tagsinput-input {
	width: 100px;
}

.react-photo-gallery--gallery {
	margin-top: 75px;
}

.react-photo-gallery--gallery .gallery-image-container {
	overflow: hidden;
	background-color: #eee;
	cursor: pointer;
	overflow: hidden;
	float: left;
	position: relative;
}

.react-photo-gallery--gallery .gallery-image-container > .gallery-image:hover {
	transition: all 0.2s; 
	transform: scale(1.1);
}
